In [3]:
import pandas as pd
import numpy as np

In [15]:
student = {'first_name': ['alter','shirin','qiqi','ozge','hisam',np.nan,None,'NA'],
           'last_name':['gudu','mony','tai','bisgin','gudu',np.nan,np.nan,'Missing'],
           'email':['alter_gudu12@gmail.com','shirinmony@gmail.com','qiqi34@yahoo.com','bisginozge@gmail.com','hismgudu@gmail.com',None,np.nan,'abc@gmail.com'],
           'matri. num':['10243','50678','76545','32145','67856',None,None,'Missing'],
           'age':['33','30','29','35',None,None,np.nan,'Missing']
           }

In [31]:
student_ds= pd.DataFrame(student)
student_ds.replace('NA',np.nan,inplace=True)
student_ds.replace('Missing',np.nan,inplace=True)
student_ds

  first_name last_name                   email matri. num   age
0      alter      gudu  alter_gudu12@gmail.com      10243    33
1     shirin      mony    shirinmony@gmail.com      50678    30
2       qiqi       tai        qiqi34@yahoo.com      76545    29
3       ozge    bisgin    bisginozge@gmail.com      32145    35
4      hisam      gudu      hismgudu@gmail.com      67856  None
5        NaN       NaN                    None       None  None
6       None       NaN                     NaN       None   NaN
7        NaN       NaN           abc@gmail.com        NaN   NaN

In [29]:
student_ds.dropna()

  first_name last_name                   email matri. num age
0      alter      gudu  alter_gudu12@gmail.com      10243  33
1     shirin      mony    shirinmony@gmail.com      50678  30
2       qiqi       tai        qiqi34@yahoo.com      76545  29
3       ozge    bisgin    bisginozge@gmail.com      32145  35

In [32]:
student_ds.isna() #showing boolean value

   first_name  last_name  email  matri. num    age
0       False      False  False       False  False
1       False      False  False       False  False
2       False      False  False       False  False
3       False      False  False       False  False
4       False      False  False       False   True
5        True       True   True        True   True
6        True       True   True        True   True
7        True       True  False        True   True

In [35]:
student_ds.fillna('MISSING') 
#OR
student_ds.fillna(0)

  first_name last_name                   email matri. num age
0      alter      gudu  alter_gudu12@gmail.com      10243  33
1     shirin      mony    shirinmony@gmail.com      50678  30
2       qiqi       tai        qiqi34@yahoo.com      76545  29
3       ozge    bisgin    bisginozge@gmail.com      32145  35
4      hisam      gudu      hismgudu@gmail.com      67856   0
5          0         0                       0          0   0
6          0         0                       0          0   0
7          0         0           abc@gmail.com          0   0

In [18]:
student_ds.dropna(axis='index', how='all')

  first_name last_name                   email matri. num      age
0      alter      gudu  alter_gudu12@gmail.com      10243       33
1     shirin      mony    shirinmony@gmail.com      50678       30
2       qiqi       tai        qiqi34@yahoo.com      76545       29
3       ozge    bisgin    bisginozge@gmail.com      32145       35
4      hisam      gudu      hismgudu@gmail.com      67856     None
7         NA   Missing           abc@gmail.com    Missing  Missing

In [23]:
student_ds.dropna(axis='columns', how='all')
#and
student_ds.dropna(axis='columns', how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]

In [27]:
student_ds.dropna(axis='index', how='all', subset=['last_name','email'])

  first_name last_name                   email matri. num      age
0      alter      gudu  alter_gudu12@gmail.com      10243       33
1     shirin      mony    shirinmony@gmail.com      50678       30
2       qiqi       tai        qiqi34@yahoo.com      76545       29
3       ozge    bisgin    bisginozge@gmail.com      32145       35
4      hisam      gudu      hismgudu@gmail.com      67856     None
7         NA   Missing           abc@gmail.com    Missing  Missing

In [37]:
student_ds.dtypes

first_name    object
last_name     object
email         object
matri. num    object
age           object
dtype: object

In [38]:
type(np.nan)

float

In [39]:
 student_ds['age']= student_ds['age'].astype(float)

In [40]:
student_ds.dtypes

first_name     object
last_name      object
email          object
matri. num     object
age           float64
dtype: object

In [42]:
student_ds['age'].mean()

31.75

In [69]:
na_vals= ['NA','Missing']
ds= pd.read_csv('D:\Data Analysis Project\survey_data\survey_results_public.csv', index_col='ResponseId', na_values=na_vals)
schema_ds= pd.read_csv('D:\Data Analysis Project\survey_data\survey_results_schema.csv', index_col='Column')

ValueError: Index Column invalid

In [70]:
pd.set_option('display.max_columns',80)
pd.set_option('display.max_rows',80)

In [71]:
ds.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [72]:
ds.columns

Index(['MainBranch', 'Employment', 'RemoteWork', 'CodingActivities', 'EdLevel',
       'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'Country', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith',
       'OpSysProfessional use', 'OpSysPersonal use', 'VersionControlSystem',
       'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [73]:
ds['YearsCodePro'].head(10)

ResponseId
1     NaN
2     NaN
3       5
4      17
5       3
6     NaN
7     NaN
8     NaN
9       6
10     30
Name: YearsCodePro, dtype: object

In [74]:
ds['YearsCodePro']= ds['YearsCodePro'].astype(float)

ValueError: could not convert string to float: 'Less than 1 year'

In [75]:
ds['YearsCodePro'].unique() #for unique values

array([nan, '5', '17', '3', '6', '30', '2', '10', '15', '4', '22', '20',
       '40', '9', '14', '21', '7', '18', '25', '8', '12', '45', '1', '19',
       '28', '24', '11', '23', 'Less than 1 year', '32', '27', '16', '44',
       '26', '37', '46', '13', '31', '39', '34', '38', '35', '29', '42',
       '36', '33', '43', '41', '48', '50', 'More than 50 years', '47',
       '49'], dtype=object)

In [76]:
ds['YearsCodePro'].replace('Less than 1 year',0,inplace=True)
ds['YearsCodePro'].replace('More than 50 years',51,inplace=True)

In [77]:
ds['YearsCodePro'].unique()

array([nan, '5', '17', '3', '6', '30', '2', '10', '15', '4', '22', '20',
       '40', '9', '14', '21', '7', '18', '25', '8', '12', '45', '1', '19',
       '28', '24', '11', '23', 0, '32', '27', '16', '44', '26', '37',
       '46', '13', '31', '39', '34', '38', '35', '29', '42', '36', '33',
       '43', '41', '48', '50', 51, '47', '49'], dtype=object)

In [78]:
ds['YearsCodePro']= ds['YearsCodePro'].astype(float)

In [79]:
ds['YearsCodePro'].mean()

9.910269519418131

In [82]:
ds['YearsCodePro'].median()

7.0